<header>
  <section class="header-content">
    <h1 class="glitch header-title animate-pop-in" data-text="Superherent">Superherent</h1>
    <h3 class="header-subtitle animate-pop-in">Find Super humans for your Super problems</h3>
    <%= form_tag superheroes_path, class: " header-button animate-pop-in", method: :get do %>
      <div class="search-module">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-bar",
          placeholder: "Type a city"
        %>
        <%= button_tag type: "submit", class: "btn-super" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </section>
</header>




