
.btn-super {
  color: white;
  padding: 6px 10px;
  border-radius: 50px;
  font-weight: bold;
  background: transparent;
  transition: background 0.5s ease;
  display: inline-block;
  justify-content:flex-end;
  align-items:center;
  cursor: pointer;
  float:right;
  margin-top: none;
  border: none;
}
.btn-super:hover {
  opacity: 1;
  background: $blue;
  text-decoration: none;
  color: white;
}



.btn-go {
  color: white;
  padding: 1px 50px;
  border-radius: 4px;
  font-weight: bold;
  background: $red;
  transition: background 0.6s ease;
  // display: inline-block;
  // justify-content:flex-end;
  // align-items:right;
  cursor: pointer;
  // float:center;
  // margin-top: none;
  border: none;
  margin-right: none !important;
}
.btn-go:hover {
  opacity: 1;
  background: $blue;
  text-decoration: none;
  color: white;
}



.round-go {
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    // border-width: 4px;
    border-style: solid;
    padding:10px 15px;
  }

  .round-go:hover {
    height: 25%;
    // left: -15%;
    // top: -15%;
    font-size: 20px;
    // padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    border-size: 1px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

