.card-container {
  flex: 1 1 60%;
}

.card {
  padding: 10px, 15px;
  margin: 0 10px 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  margin-left: 50px;
  box-shadow: .5px .5px 10px rgba(180, 180, 180, .4);
  // border: 1px solid rgba(230, 230, 230, .4);
  transition: 0.4s;
  &:hover{
    // background-color: #EEF0F2;
    transition: 0.8s;
  }
}

.card-image {
  flex: 0 0 30%;
  height: 150px;
  background-size: cover;
  background-position: center;
  // margin: 5px;
}

.card-content {
  flex: 1 1 auto;
  padding: 5px 15px;
  h3 {
    margin: 0 0;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
  }
}

.card-content p i {
  margin-right: 10px;
}

.card-content-bottom ul li {
  list-style: none;
  margin-left: 0;
}

.card-content-bottom ul li i {
  margin-right: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.page-header {
  h1 {
    color: $yellow;
    font-weight: bolder;
    margin-bottom: 70px;
    margin-top: 50px;
  }
  padding: 0 40px;
  margin-top: 0;
}

.access-show {
  text-decoration: none;
  color: white;
}

.label-danger:hover {
  background-color: transparent !important;
  border-bottom: 3px solid $red;
  a {
    color: $red !important;
  }
}

.card-infos {
  flex: 0 0 15%;
  padding: 5px 15px;
}


.card-hover {
  width: 270px;
  height: 180px;
}

